{% extends "base.html" %}

{% block title %}About page{% endblock title %}

{% block extrahead %}
{# CSSとか #}
{% endblock %}

{% block content %}
<div class="container" role="main">
	<div class="page-header" style="margin-top:+80px">
		<h1>概要</h1>
		<p class="lead">
			このサイトは日本最大級の投稿型小説サイト「小説家になろう」に投稿されている小説を対象に、</br>
			継続的にデータを収集し、主にタイトルの単語に焦点を当てて分析することを目的としています。</br>
			あくまでも非公式サイトです。
		</p>
	</div>
	<div class="row">
		<h3>収集するデータについて</h3>
		<p>分析対象のデータは、投稿されている小説の「タイトル」です。
		小説家になろうグループの「小説を読もう！」をスクレイピングし、タイトルを収集しています。</p>
	<p>「小説を読もう！」内のランキングページを収集対象としており、
		日間、週間、月間、四半期、年間、累計の総合ランキングと、ジャンル別ランキング（合計20ジャンル）を対象に1日に1回収集しています。</p>
	</div>
</div>
{% endblock content %}
