{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Detail Page{% endblock title %}

{% block extrahead %}
{# CSSとか #}
<style>
	.vcenter{
		vertical-align:	middle;
	}
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(function(){
		var data = google.visualization.arrayToDataTable([
			{% for dataset in graph_data_rank %}
				{% if forloop.first %}
				[{% for data in dataset %}{% if forloop.last %}'{{ data }}'{% else %}'{{ data }}',{% endif %}{% endfor %}],
				{% else %}
				[{% for data in dataset %}{% if forloop.first %}'{{ data|date:"Y/m/d" }}',{% elif forloop.last %}{{ data }}{% else %}{{ data }},{% endif %}{% endfor %}],
				{% endif %}
			{% endfor %}
		]);

		var options = {
			chartArea:	{'width':'90%', 'height':'70%', top:20},
			height:	'400',
			legend:	{position:'top'},
			fontsize:20,
		/*	series: {
				0:	{targetAxisIndex:0},
				1:	{targetAxisIndex:1}
			},
 */			hAxis:	{showTextEvery:7},
			vAxis:	{
				direction:	-1,
				viewWindow:	{min:0, max:300}
			},
			/* vAxis:	{title:'出現回数'}, */
			crosshair:	{trigger:'both'}
		};

		var chart = new google.visualization.LineChart(document.getElementById('graphField'));
		chart.draw(data, options);
	});

	google.setOnLoadCallback(function(){
		var data = google.visualization.arrayToDataTable([
			{% for dataset in graph_data_point %}
				{% if forloop.first %}
				[{% for data in dataset %}{% if forloop.last %}'{{ data }}'{% else %}'{{ data }}',{% endif %}{% endfor %}],
				{% else %}
				[{% for data in dataset %}{% if forloop.first %}'{{ data|date:"Y/m/d" }}',{% elif forloop.last %}{{ data }}{% else %}{{ data }},{% endif %}{% endfor %}],
				{% endif %}
			{% endfor %}
		]);

		var options = {
			chartArea:	{'width':'90%', 'height':'70%', top:20},
			height:	'400',
			legend:	{position:'top'},
			fontsize:20,
 			hAxis:	{showTextEvery:7},
			vAxis:	{
				direction:	1,
				logScale:	true,
				viewWindow:	{min:0}
			},
			/* vAxis:	{title:'出現回数'}, */
			crosshair:	{trigger:'both'}
		};

		var chart = new google.visualization.LineChart(document.getElementById('graphField2'));
		chart.draw(data, options);
	});

</script>
{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">

	<div class="page-header" style="margin-top:80px;">
		<h1>{{ name_of_title }}</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>順位</h3>
			<div id="graphField">Now loading...</div>
		</div>
		<div class="col-md-12">
			<h3>点数</h3>
			<div id="graphField2">Now loading...</div>
		</div>
	</div>
</div>
{% endblock content %}
