{% extends "base.html" %}

{% block title %}Top Page{% endblock title %}

{% block extrahead %}
{# CSSとか #}
<style>
	.table > tbody > tr > td.vcenter {
		vertical-align: middle;
	}
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(function(){
		var data = google.visualization.arrayToDataTable([
			['date', '名詞数', 'タイトル数'],
			{% for data in dataset %}
				['{{ data.date|date:"Y/m/d" }}', {{ data.daily_num_of_letter }}, {{ data.daily_num_of_title }}],
			{% endfor %}
		]);

		var options = {
			/* title:	'Overview', */
			chartArea:	{'width':'80%', 'height':'75%', top:16},
			height:document.getElementById('overview-list').clientHeight * 1.0,
			legend:	{position:'top'},
			fontsize:10,
			series:	{
				0:	{targetAxisIndex:0},
				1:	{targetAxisIndex:1},
			},
			/* hAxis:	{title:'date'}, */
			vAxes:	{
				0:	{title:'名詞数'},
				1:	{title:'タイトル数'}
			},
			crosshair:	{trigger:'both'}
		};

		var chart = new google.visualization.LineChart(document.getElementById('graphField'));
		chart.draw(data, options);
	});

	google.setOnLoadCallback(function(){
		var data = google.visualization.arrayToDataTable([
			['date', '名詞数', 'タイトル数'],
			{% for data in dataset %}
				['{{ data.date|date:"Y/m/d" }}', {{ data.total_num_of_letter }}, {{ data.total_num_of_title }}],
			{% endfor %}
		]);

		var options = {
			/* title:	'Overview', */
			chartArea:	{'width':'80%', 'height':'75%', top:16},
			height:document.getElementById('overview-list').clientHeight * 1.0,
			legend:	{position:'top'},
			fontsize:10,
			vAxis:	{title:'累計\nデータ数'},
			crosshair:	{trigger:'both'}
		};

		var chart = new google.visualization.AreaChart(document.getElementById('graphField2'));
		chart.draw(data, options);
	});
</script>

{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>なろう作品を分析しよう</h1>
		<p>「小説家になろう」に投稿された作品のタイトルを形態素解析で分析します。</p>
	</div>
</div>
<div class="container theme-showcase" role="main">
	<h1>データの概要</h1>
	<div class="row">
		<div class="col-md-3">
			<ul class="list-group" id="overview-list">
				<li class="list-group-item">
					<span class="badge">{{ overview.0.daily_num_of_letter }}</span>
					今日の名詞数
				</li>
				<li class="list-group-item">
					<span class="badge">{{ overview.0.daily_num_of_title }}</span>
					今日のタイトル数
				</li>
						</ul>
		</div>
		<div class="col-md-9">
			<div id="graphField">Now Loading...</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<ul class="list-group" id="overview-list">
								<li class="list-group-item">
					<span class="badge">{{ overview.0.total_num_of_letter }}</span>
					累計名詞数
				</li>
				<li class="list-group-item">
					<span class="badge">{{ overview.0.total_num_of_title }}</span>
					累計タイトル数
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div id="graphField2">Now Loading...</div>

		</div>

	</div>
	<h1>本日の人気名詞ランキング</h1>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class="text-center" >順位</th>
						<th class="text-center" >名詞</th>
						<th class="text-center" >出現回数</th>
						<th class="text-center" >関連作品</th>
					</tr>
				</thead>
				<tbody>
					{% for word in words %}
					<tr>
						<td class="vcenter text-right">{{ forloop.counter }}</td>
						<td class="vcenter text-center">{{ word.value }}</td>
						<td class="vcenter text-right">{{ word.num_words }}</td>
						<td class="vcenter">
							<ul>
								{% for novel in word.related_novels %}
								<li>{{ novel.title.name }}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}
