{% extends "base.html" %}

{% block title %}Top Page{% endblock title %}

{% block extrahead %}
{# CSSとか #}
{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<h1>小説家になろうを分析</h1>
		<p>投稿作品のタイトルを形態素解析で分析します。</p>
	</div>
	<div class="page-header">
		<h1>本日の人気名詞ランキング</h1>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<thead>
					<tr>
						<th>順位</th>
						<th>単語</th>
						<th>出現回数</th>
						<th>関連作品</th>
					</tr>
				</thead>
				<tbody>
					{% for word in words %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ word.value }}</td>
						<td>{{ word.num_words }}</td>
						<td>{{ word.related_novels.0.title.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}
