{% extends "base.html" %}

{% block title %}Ranking Page{% endblock title %}

{% block extrahead %}
{# CSSとか #}
{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
	<div class="page-header" style="margin-top:80px;">
		<h1>人気名詞ランキング</h1>
	</div>
	<div class="row">
		{% for term in terms %}
		<div class="col-md-6 alt-table-responsive">
			<h2>{{ term.name }}</h2>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th class="text-center col-xs-2 col-ms-2 col-md-2 col-lg-2">順位</th>
						<th class="text-center col-xs-8 col-ms-8 col-md-8 col-lg-8">単語</th>
						<th class="text-center col-xs-2 col-ms-2 col-md-2 col-lg-2">出現回数</th>
					</tr>
				</thead>
				<tbody>
					{% for word in term.words %}
					<tr>
						<td class="text-right">{{ forloop.counter }}</td>
						<td class="text-center">{{ word.value }}</td>
						<td class="text-right">{{ word.num_words }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
