{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Search Page{% endblock title %}

{% block extrahead %}
{# CSSとか #}
<style>
	.vcenter{
		vertical-align:	middle;
	}
</style>
<script type="text/javascript">
/*	$(function(){
		$(".dropdown-menu li a").click(function(){
			$(this).parents('.dropdown').find('.dropdown-toggle').html($(this).text() + ' <span class="caret"></span>');
			$(this).parents('.dropdown').find('input[name="dropdown-value"]').val($(this).attr("data-value"));
			alert($(this).text());
		});
	});
	$(window).on('load', function() {
		$('.selectpicker').selectpicker({
			'selectedText':	'cat'
		});
	});
   	$(document).ready(function(){
	$('.selectpicker').selectpicker();

	});
 	$('select').select2();*/
</script>
<style>
	.vcenter{
		vertical-align:	center;
	}
</style>
{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">

	<div class="page-header" style="margin-top:80px;">
		<h2>検索</h2>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline" action="{% url 'analysis:search_title' %}" method="post" role="form">
				{% csrf_token %}
				<div class="col-md-4">
					{{ form.word|bootstrap_horizontal }}
				</div>
				<div class="col-md-4">
					<input type="submit" class="btn btn-default" value="検索">
				</div>
			</form>
		</div>


		{% if titles %}
			<hr>
			<div class="col-md-offset-2 col-md-8 alt-table-responsive">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th class="text-center col-xs-12 col-ms-12 col-md-12 col-lg-12">タイトル</th>
						</tr>
					</thead>
					<tbody>
						{% for title in titles %}
						<tr>
							<td class="text-left">{{ title.name }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="pagination">
					<span class="step-links">
						{% if titles.has_previous %}
						<a href="?page={{ titles.previous_page_number }}&query={{ query }}">previous</a>
						{% endif %}

						<span class="current">
							Page {{ titles.number }} of {{ titles.paginator.num_pages }}.
						</span>

						{% if titles.has_next %}
						<a href="?page={{ titles.next_page_number }}&query={{ query }}">next</a>
						{% endif %}
					</span>
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
